{% load staticfiles %}
<!doctype html>
<html lang="es-AR">
<head>
    <meta charset="utf-8">
    <title>{{project_name}}{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="{{author}}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/all.css'%}">
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>

{% if messages %}
<ul id="messages">
  {% for message in messages %}
  <li class="{{message.tags}}">
    <a href="#message-{{forloop.counter}}" class="control">X</a><strong id="message-{{forloop.counter}}">{{message}}</strong></li>
  {% endfor %}
</ul>
{% endif %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" data-bypass>{{project_name}}}</a>
    </div>
    <div id="navbar" class="navbar-right collapse navbar-collapse">
      <ul class="nav navbar-nav">
      {% if user.is_authenticated %}
      {% if user.is_staff %}
      <li><a href="/admin">Administración </a></li>
      {% endif %}
      <li><strong>{{user}}</strong><a href="/logout?next={{request.path}}">(salir)</a></li>
      {%else%}
      <li><a href="/login?next={{request.path}}">Iniciar sesión</a></li>
      {% endif %}
      </ul>

    </div>
  </div>
</nav>
<section id="main" class="container">

{% block page %}
<div class="container">
    
</div>
{% endblock %}
</section>
<footer class="footer">
{% block footer %}
{% endblock %}
</footer>
</body>
</html>
