@import "settings";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
@import "foundation/components/block-grid";
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
@import "foundation/components/buttons";
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
@import "foundation/components/forms";
@import "foundation/components/grid";
@import "foundation/components/inline-lists";
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
@import "foundation/components/tables";
//   "foundation/components/tabs",
@import "foundation/components/thumbs";
@import "foundation/components/tooltips";
@import "foundation/components/top-bar";
@import "foundation/components/type";
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
@import "foundation-icons";

footer {
    position:relative;
    clear: both;
    font-size: 80%;
    padding: 1em 0;
    margin:0;
    ul {
        float: left;
        margin: 0;
        padding:0;
        list-style: none;
        overflow: hidden;
        li {
            display:inline-block;
            padding: 0 1em;
        }
    }
    ul.quickaccess {
            float:right;
    }
}
#messages {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}
#samples {
    margin:0;
    padding:0;
    list-style: none;
}
#formula {
    margin: 1em 0;
    font-size:200%;
}
table {
    margin: 1em 0;
    width: 100%;
}
label {

}

form {
    fieldset {
        
    }
    label {
        @include prefix-postfix-base;
        @include prefix;
        @include grid-column($columns:5);
        text-align: right;
        @include side-radius($default-float);
    }
    input[type='text'],  input[type='number'] {
        @include prefix-postfix-base;
        @include grid-column($columns:7);
        @include side-radius($opposite-direction);
        text-align: left;

    }
    .error {
        label, input[type='text'],  input[type='number'] {
        @include form-error-color;
        }
    }

    .field {
        position:relative;
    }
}
